div {
  background-color: #ca9b9b;
  padding: 20px;
  border: 1px solid #ccc;
  width: 500px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
.back-btn {
  background-color: wheat;
  border-radius: 15px;
}

.back-btn:hover {
  background-color: rgb(255, 0, 0);
}

.bold-text {
  font-weight: bolder;
}
